<ion-view title="Edit Profile">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <label class="item item-input item-stacked-label">
      <span class="input-label">Tagline: </span>
      <input id="businessName" type="text" value={{this.user["firstName"]}} ng-model="user.firstName">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Last Name</span>
      <input type="text" value={{this.user["lastName"]}} ng-model="user.lastName">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Institution</span>
      <input type="text" value={{this.user.currentUniversity}} ng-model="user.currentUniversity">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Course</span>
      <input type="text" value={{this.user.currentCourse}} ng-model="user.currentCourse">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">About me</span>
      <input type="text" value={{this.user["aboutMe"]}} ng-model="user.aboutMe">
    </label>
    <div class="spacer calm" style="height: 10px;"></div>
    <ion-item class="item-divider">Interests </ion-item>
     <div class="list">
       <ion-checkbox ng-repeat="item in interests"
                     ng-model="item.checked" ng-true-value="true" ng-false-value="false">
                     {{ item.title }}
       </ion-checkbox>
     </div>
     <div class="spacer calm" style="height: 40px;"></div>
    <!-- <button class="button button-balanced button-block" ng-click="saveProfileSettings()"> Save </button> -->
  </ion-content>
  <div class="bar bar-footer bar-calm">
    <div class="button-bar">
    <a class="button button-assertive" ui-sref="tabsController.profile">Cancel</a>
    <a class="button button-balanced" ng-click="saveProfileSettings()" ui-sref="tabsController.profile">Save</a>
    </div>
  </div>
</ion-view>
