<ion-view title="Profile" id="page2" ng-controller="profileCtrl">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <div class="list card">

  <div class="item item-avatar">
    <img src={{this.data.pictureUrl}} alt="No picture available" style="width: 50px;height: 50px;">
    <h2>{{this.data["firstName"]}}</h2>
    <p>November 05, 1955</p>
  </div>

  <div class="item item-body">
    <p>About me: {{this.data["aboutMe"]}}</p>
    <p>Institution: {{this.data.currentUniversity}}</p>
    <p>Course: {{this.data.currentCourse}}</p>
    <div id="interest-profile">
      <p>Interest:
    <ul>
        <li ng-repeat="interest in interests">{{this.interest.title}}</li>
    </ul>
    </div>
    <p>
      <a class="subdued"> Average rating: {{this.data["averageRating"]}} </a>
    </p>
  </div>

</div>
    <div ng-controller="profileCtrl">
      <img src={{this.data.pictureUrl}} alt="No picture available" style="width: 304px;height: 304px;">
      <p>First name: {{this.data["firstName"]}}</p>
      <p>Last name: {{this.data["lastName"]}}</p>
      <p>About me: {{this.data["aboutMe"]}}</p>
      <p>Institution: {{this.data.currentUniversity}}</p>
      <p>Course: {{this.data.currentCourse}}</p>
      <p>Average rating: {{this.data["averageRating"]}}</p>
      <p>Completed project: {{this.data["completedProjects"]}}</p>
      <div id="interest-profile">
        <p>Interest:
      <ul>
          <li ng-repeat="interest in interests">{{this.interest.title}}</li>
      </ul>
      </div>
      <ui class="list">
        <!--skills-->
      </ui>
      <button ui-sref="tabsController.editProfile" class="button button-balanced button-block" ng-click="editProfile()">Edit profile</button>
      <a ui-sref="login" id="log-out-button" class="button button-assertive  button-block">Log out</a>
    </div>
  </ion-content>
</ion-view>
