<ion-view title="{{category.title}}" id="page5">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
      <div class="list">
        <a class="item item-thumbnail-left">
          <img alt="No picture">
          <h4>Job 1</h4>
          <p></p>
        </a>
        <a class="item item-thumbnail-left">
          <img alt="No picture">
          <h4>Job 1</h4>
          <p></p>
        </a>
        <a class="item item-thumbnail-left">
          <img alt="No picture">
          <h4>Job 1</h4>
          <p></p>
        </a>
        <a class="item item-thumbnail-left">
          <img alt="No picture">
          <h4>Job 1</h4>
          <p></p>
        </a>
        <a class="item item-thumbnail-left">
          <img alt="No picture">
          <h4>Job 1</h4>
          <p></p>
        </a>
      </div>
    </ion-content>
</ion-view>
