<ion-view title="{{category.title}}" id="page5">
    <ion-content overflow-scroll="true" padding="true" class="has-header">

      <div class="list">
        <a ng-repeat="item in items" class="item item-thumbnail-left" ng-click="jobSelected(item)">
          <img ng-src={{item.projectOwner['picture']}} alt="No picture">
          <h4>{{item.projectOwner.displayName}}</h4>
          <p>{{item.projectOwner.description}}</p>
        </a>
      </div>

      <!-- <a ng-repeat="item in items | filter: {category : filterByCategory() } | filter { title: filter}" class="item item-thumbnail-left" ng-click="jobSelected(item)"> -->

      <p> The filtered by this name for job title: {{searchResult}} </p>
      <p> Filtered by this category for job category: {{category.title}} </p>





      <!-- <div class="list">
        <a class="item item" ng-click="jobSelected()">
          <img alt="No picture">
          <h4>Job 1</h4>
          <p></p>
        </a>
        <a class="item item-thumbnail-left">
          <img alt="No picture">
          <h4>Job 1</h4>
          <p></p>
        </a>
        <a class="item item-thumbnail-left">
          <img alt="No picture">
          <h4>Job 1</h4>
          <p></p>
        </a>
        <a class="item item-thumbnail-left">
          <img alt="No picture">
          <h4>Job 1</h4>
          <p></p>
        </a>
        <a class="item item-thumbnail-left">
          <img alt="No picture">
          <h4>Job 1</h4>
          <p></p>
        </a>
      </div> -->
    </ion-content>
</ion-view>
